@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 0px;
  }
  .about-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    & .item + .item {
      margin-left: 30px;
    }
  }

  .about-list__item-name {
    position: absolute;
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;

    top: 224px;

    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    background: rgba(47, 48, 58, 0.8);
  }
}
