.footer-social-container {
  width: 206px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
}

.footer-social-title {
  text-align: center;
  min-width: 145px;
  height: 16px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-container {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer .container {
    display: flex;
    align-items: baseline;
  }

  .footer-social-container {
    margin-left: 70px;
  }

  .footer-social-title {
    text-align: start;
  }
}
