.hero-title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .hero-title {
    min-width: 360px;
    height: 84px;
    left: 60px;
    top: 118px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-title {
    min-width: 360px;
    height: 84px;
    left: 204px;
    top: 118px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    min-width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-size: 44px;
    line-height: 1.36;
  }
}
