.logo {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  &-first-part {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
