.container {
  @media screen and (max-width: 767px) {
    width: 450px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 738px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

// 480 +
// @media screen and (min-width: 480px) {
//   .container {
//     width: 448px;
//     margin: 0 auto;
//   }
// }

// 768+
// @media screen and (min-width: 768px) {
//   .container {
//     width: 652px;
//   }
// }

// 1200+
// @media screen and (min-width: 1200px) {
//   .container {
//     width: 1200px;
//   }
// }
